[Unit]
Description=BetopiaERP IoT Box service
After=cups.socket network-online.target NetworkManager.service rc-local.service
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
User=betopiaerp
Group=betopiaerp
Environment="LIBCAMERA_LOG_LEVELS=3"
Environment="XDG_RUNTIME_DIR=/run/betopiaerp"
Environment="XDG_CACHE_HOME=/run/betopiaerp"
Environment="BETOPIAERP_PY_COLORS=True"
ExecStartPre=sudo /bin/mkdir -p /run/betopiaerp
ExecStartPre=sudo /bin/chown betopiaerp:betopiaerp /run/betopiaerp
ExecStartPre=sudo timedatectl set-ntp true
ExecStart=/usr/bin/python3 /home/pi/betopiaerp/betopiaerp-bin --config /home/pi/betopiaerp.conf
Restart=on-failure
RestartSec=10s
StandardOutput=null
StandardError=append:/var/log/betopiaerp/betopiaerp-server.log

[Install]
WantedBy=multi-user.target

# Tip: don't forget to 'systemctl disable' then re 'enable' service if you update the 'WantedBy' line
# reason is that 'enable' creates a symlink in /etc/systemd/system/multi-user.target.wants/ pointing to this file which does
# not get updated if you only 'systemctl daemon-reload'

# Documentation: https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html
