#!/usr/bin/make -f
export DH_VERBOSE=1
export PYBUILD_NAME=BetopiaERP-bin
export PYBUILD_DISABLE=test

%:
	dh ${@} --with=python3 --buildsystem=pybuild

override_dh_auto_build:
	cp -r addons/* BetopiaERP/addons/
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	rm debian/BetopiaERP/usr/lib/python3*/dist-packages/BetopiaERP/addons/point_of_sale/static/src/fonts/Inconsolata.otf
	for LINKTARGET in `awk '{ print $2 }' BetopiaERP.links`; do rm debian/BetopiaERP/${LINKTARGET} ; done
	find debian/BetopiaERP -name LICENSE.txt -exec rm {} \;

override_dh_auto_clean:
	dh_auto_clean
	for d in addons/* ; do rm -fr BetopiaERP/$$d ; done
